@define-color background #3c2224;
@define-color foreground #dfd1c5;
@define-color color0 #3c2224;
@define-color color1 #C75D74;
@define-color color2 #FE4E70;
@define-color color3 #C98B77;
@define-color color4 #9E7685;
@define-color color5 #D15E96;
@define-color color6 #CB7384;
@define-color color7 #dfd1c5;
@define-color color8 #9c9289;
@define-color color9 #C75D74;
@define-color color10 #FE4E70;
@define-color color11 #C98B77;
@define-color color12 #9E7685;
@define-color color13 #D15E96;
@define-color color14 #CB7384;
@define-color color15 #dfd1c5;